a:visited {
    color: blue;
}

body {
    font-family: sans-serif;
}

ul.classes, ul.packages {
    list-style-type: none;
}

ul.packages {
    margin-left: -35px;
}

ul.packages > li {
    font-family: Verdana;
    font-size: 90%;
    font-weight: bold;
}

.classes a {
    text-decoration: none;
}

.classes a:hover {
    text-decoration: underline;
    color: blue;
}

.classes a:visited {
    text-decoration: none;
    color: blue;
}

h1, h3 {
    display: inline-block;
}

.properties .prop-name {
    font-weight: bold;
}

.properties .type, .methods .type {
    font-style: italic;
    color: #222;
}

a.coderef {
    text-decoration: none;
}

.prop-details, .method-details {
    margin: 18px 10px 18px 10px;
    padding: 10px 8px 10px 8px;
    background-color: #efefef;
    display: block;
    border: 1px solid darkgray;
}

.prop-descr, .method-descr {
    display: block;
    margin-left: 50px;
    padding-top: 10px;
}

.thrown-exc-list {
    font-size: 80%;
    list-style-type: none;
}

.byref {
    color: red;
}

ul.properties a {
    text-decoration: none;
    font-size: 80%
}

ul.toc {
    list-style-type: none;
}

ul.toc a {
    text-decoration: none;
}

ul.toc a:hover {
    text-decoration: underline;
}

.lnk-manual {
    font-size: 80%;
}

.lnk-manual a {
    text-decoration: none;
}

.links {
    font-size: 80%;
}

.links ul {
    list-style-type: none;
}

.links a {
    text-decoration: none;
}


body.manual {
    text-align: justify;
}

body.manual h1, body.manual h3 {
    display: block;
}

.modifiers {
    font-family: courier;
    font-style: italic;
    font-size: 90%;
    font-weight: bold;
    color: #00008b;
}