a:visited {
    color: blue;
}

body {
    font-family: sans-serif;
}

.classes {
    list-style-type: none;
}

.classes a {
    text-decoration: none;
}

.classes a:hover {
    text-decoration: underline;
    color: blue;
}

.classes a:visited {
    text-decoration: none;
    color: blue;
}

h1, h3 {
    display: inline-block;
}

.properties .prop-name {
    font-weight: bold;
}

.properties .type, .methods .type {
    font-style: italic;
    color: #222;
}

a.coderef {
    text-decoration: none;
}

.prop-details, .method-details {
    margin: 18px 10px 18px 10px;
    padding: 10px 8px 10px 8px;
    background-color: #efefef;
    display: block;
    border: 1px solid darkgray;
}

.prop-descr, .method-descr {
    display: block;
    margin-left: 50px;
    padding-top: 10px;
}

.thrown-exc-list {
    font-size: 80%;
    list-style-type: none;
}

.byref {
    color: red;
}

ul.properties a {
    text-decoration: none;
    font-size: 80%
}

ul.toc {
    list-style-type: none;
}

ul.toc a {
    text-decoration: none;
}

ul.toc a:hover {
    text-decoration: underline;
}